<%- include("../public/partials/nav") %> 
<%- include("../public/partials/header") %>

<div class="container mt-5 py-2">

    <div class="text-center">
    <h3>A Fast and Simple Url Shortener</h3>
    <p>Experience convenience by managing your links with Scissors</p>
    </div>


    <div class="card mr-5 border-primary" style="width:25%; display:inline-block">
        <div class="card-body">
            <p>Simplify and manage your links
                mage/png;base64,iVBORw0KGgoAAAANSUhEUgAAA
                JQAAACUCAYAAAB1PADUAAAAAklEQVR4AewaftIAAA
                QAAACUCAYAAAB1PADUAAAAAklEQVR4AewaftIAA
                
            </p>
    </div>
        

    </div>



<div class="card mr-5 border-primary" style="width:25%; display:inline-block">
    <div class="card-body">
        <p>Simplify and manage your links
            mage/png;base64,iVBORw0KGgoAAAANSUhEUgAAA
            JQAAACUCAYAAAB1PADUAAAAAklEQVR4AewaftIAAA
            QAAACUCAYAAAB1PADUAAAAAklEQVR4AewaftIAA
            
        </p>
    </div>

</div>

<div class="card mr-5 border-primary" style="width:25%; display:inline-block">
    <div class="card-body">
        <p>Simplify and manage your links
            mage/png;base64,iVBORw0KGgoAAAANSUhEUgAAA
            JQAAACUCAYAAAB1PADUAAAAAklEQVR4AewaftIAAA
            QAAACUCAYAAAB1PADUAAAAAklEQVR4AewaftIAA
            
        </p>
    </div>

</div>







</div>


<%- include("../public/partials/footer") %>