<%- include("../public/partials/nav") %> 
<%- include("../public/partials/header") %>

<div class="container mt-5 py-2">

    <div class="text-center">
    <h2>A Fast and Simple Url Shortner</h2>
    <p>Experience convenience by managing your links with Scissors</p>
    </div>


    <div class="container mt-5 py-4">
    <div class="card mr-5 border-primary" style="width:25%; display:inline-block">
        <div><h4 class="text-center text-primary">URL Shortener</h4></div>
        <div class="card-body">
            <p>Scissor is a user-friendly URL shortener that helps
                you easily share your links with the world
                
            </p>
    </div>
        

    </div>



<div class="card mr-5 border-primary" style="width:25%; display:inline-block">
    <div><h4 class="text-center text-primary">Link Analytics</h4></div>
    <div class="card-body">
        <p>
            With Scissor, you can track the clicks on your short links,
            where they are coming from, and when the links are being used
            
        </p>
    </div>

</div>

<div class="card mr-5 border-primary" style="width:25%; display:inline-block">
    <div><h4 class="text-center text-primary">QR Code</h4></div>
    <div class="card-body">
        <p>Scissor helps you easily generate QR Codes so you can target your customers
             on the go and grow your business!
            
        </p>
    </div>

</div>


        <div class= "d-flex align-items-center justify-content-center"><a href= "/register" class="mt-5 btn btn-md btn-primary"> Get Started </a></div>
</div>







</div>


<%- include("../public/partials/footer") %>