<%- include("../public/partials/nav") %> 
<%- include("../public/partials/header") %>

<div class="container mt-5 py-5">
    
    
    <h3>Scan your shortened url!</h3>

    <div>   
      <img
        src=<%=qrcode %>
      />
  </div>

    
    


</div>


<%- include("../public/partials/footer") %>