<%- include("../public/partials/nav") %> 
<%- include("../public/partials/header") %>

<div class="container mt-5">
    <form action="/edit/<%= blog._id %>" method="PUT">
        <input type="text" name="title" placeholder="Title" class="form-control" required>
        <input type="text" name="description" placeholder="Give a short description of your story" class="mt-3 form-control" required>
        <textarea name="content" cols="30" rows="10" class="mt-3 form-control" placeholder= "make changes"  required></textarea>
        <input type="submit" value="Save changes" class="mt-5 btn btn-md btn-danger">
    </form>
</div>

<%- include("../public/partials/footer") %>