<%- include("../public/partials/nav") %> 
<%- include("../public/partials/header") %>

<div class="container mt-5 py-5">
    
    <h3>Welcome to the House of Stories!</h3>
    
    
    

    <div class="card mt-3">
        <div class="card-body">
            <p class="text-muted">published at: </p>
            <p class="text-muted"> </p>
            <p>  </p>
            <h5 class="card-title"> </h5>
            <p class="card-text"></p>
            <p class="card-text"> Read More</p>
           
        </div>
    </div>



</div>


<%- include("../public/partials/footer") %>